/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
    width: 100%;
	order: 2;
    -webkit-order: 2;
    .wrapper{
        .title{
            text-align: center;
            margin: 20px auto;
            padding: 20px;
            width: 80%;
            h1{
                font-weight: bold;
                @include font($font-size-h1,$line-height-h1, $title-color);
                padding: 10px;
            }
        }
        section{
            padding: 5px;
            img{
                max-height: 100%;
                max-width: 100%;
            }
            .blog_item{
                padding: 5px;
            }
        }
        .delivery{

        }
        .pay{
            .blog_item{
                text-align: center;
                font-weight: bold;
                padding-bottom: 10px;
                @include font($font-size-h4,$line-height-h4, $title-color);
                p{
                    margin: 10px;
                }
            }
        }
    }
}








@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



