
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ),url(../img/bg-header.jpg) no-repeat center; 	
	text-align:center;
	width:100%;
	min-width: $min-width;
	order: 3;	
	-webkit-order: 3;
	color: white;
	.num_phone{
		@include font($font-size-h3,$line-height-h3, rgb(254, 221, 0));
	}
	.footer_title{
		font-weight: bold;
		@include font($font-size-h1,$line-height-h1,white);
		padding: 40px 20px;
	}	
	.footer_contacts{
		.row{
			display: flex;
			justify-content: center;
		}
		.left_block, .first_block, .second_block{
			padding-top: 20px;
		}
		.left_block{
			text-align: center;
			padding-bottom: 20px;
			.num_phone:first-child::after,
			.num_phone:nth-child(2)::after {
				content: "|";
				color: white;
				margin: 5%;
			}
		}
		.right_block{
			justify-content: space-around;
			.first_block{
				text-align: center;
			}
			.second_block{
				text-align: center;
				.num_phone:first-child::after{
					content: "|";
					color: white;
					margin: 5%;
				}	
			}
		}
	}
	.footer_form{
		width: 80%;
		text-align: center;
		padding: 30px;
		margin: auto;
		@include font($font-size-h5,$line-height-h5, white);
		.form{
			background: rgb(49, 48, 47);
			padding: 5px;
			fieldset{
				padding: 30px 20px;
				border:  solid rgb(254, 221, 0) 1px;
				label{
					@include font(10px,12px, white);
					display: block;
					float: left;
				}
				.wrap{
					width: 30%;
					display: inline-block;
				}
				input, button{
					border:  solid rgb(254, 221, 0) 1px;
					@include radius(4px);
					width: 100%; min-height: 40px;
					margin: auto;
					display: block;
				}
				button{
					background: rgb(254, 221, 0);
					font-weight: bold;
					@include font($font-size-h4,$line-height-h4, black);
				}
			}
		}		
	}
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}