/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

header{
	background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url(../img/bg-header.jpg) no-repeat center;
	background-size: cover;
	width:100%; 
	min-width: $min-width;	
	@include font(16px,20px, white);
	padding-bottom: 10px;
	.wrapper{
		.left-nav{
			input::-moz-placeholder {color: #ffffff;  opacity: 1;}
			input::-webkit-input-placeholder { color: #ffffff; opacity: 1;}
		   	input:-ms-input-placeholder { color: #ffffff;  opacity: 1;}
		   	input::-ms-input-placeholder { color: #ffffff;  opacity: 1;}
		   	input::placeholder { color: #ffffff;  opacity: 1; font-weight: bold;} 
			float: left;
			input{
				background: linear-gradient(
					rgba(255, 255, 255, 0.4), 
					rgba(255, 255, 255, 0.4)
				  ),url(../pic/header/icon-search.png) no-repeat 90%;
				border: none;
				display: block;
			}
		   .btn{
				background: transparent;
				color: white;
				display: none;
			}
			.logo-mobil, .logo{
				height: 50px;
			}
			.logo-mobil{
				display: none;
			}	
			form{
				.btn{
					float: right;
				}
				input{
					color: white;
				}
			}	
		}
		a{
			@include font(13px,17px, white);
		}
		.right-nav{

			nav{
				order: 1;	
				-webkit-order: 1;
				.navbarToggler{
					display: none;
					color: white;
				}
			}
			.contacts{
				order: 2;	
				-webkit-order: 2;
				a{
					color: rgb(254, 221, 0);
					text-decoration: underline;
				}
			}	
		}
		.header_menu{   
			.block{
				padding: 5px;
			}
			a{
				color: rgb(254, 221, 0);
				text-align: center;
				p{
					vertical-align: middle;
				}
				
			}
			img{
				height: 38px;
			}
		}

		.header-down{
			text-align: center;
			margin-top: 100px;
			position: relative;
			.header-down_tile{
				h1{
					@include font(46px,52px, white);
					font-weight: bold;
				}
				p{
					@include font(12px,16px, white);
				}
			}
			.header-down_map{
				margin: 40px auto;
				height: 70px;width: 210px;
				color: rgb(254, 221, 0);
				border: solid rgb(254, 221, 0) 1px;
				img{
					width: 70px; height: 50px;
				}
				.text{
					padding: 5px 0;
				}
			}
			.header_decor{
				height: 120%; 
				width: 40%;
				position: absolute;
				left: 40%;
				bottom: -70%;
				background: url(../img/decor-opasity.png) no-repeat center;
				background-size: cover;
				z-index: 12;
			}
	
		}
	}
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}
