/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .wrapper{
        width: 85%;
    }
    .logo{
        display: none;
    }
    .logo-mobil{
        display: block !important;
        padding-left: 0 !important;
    }
    nav{
        order: 2;
        float: left;
        .list{
            display: none;
            position: absolute;
            background: rgba(185, 185, 185, 1);
            margin-top: -20px;
            left: 50%;
            width: 100%;
            z-index: 12;
            a{
                display: block;
            }
        }
        .navbarToggler{
            display: block !important;
            margin: 20px 5px;
        }
    }
    form{
        button{
            display: block !important;
        }
        input{
            display: none !important;
        }
    }
    .left-nav{
        width: 40% !important;
        padding: 0 !important;
    }
    .right-nav{
        width: 60% !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .contacts{
            order: 1;
        
            display: flex;
            flex-direction: row;
            }
            .row{
                width: 70%;
                padding: 5px;
            }
            form{
                padding: 0;
                width: 25%;
                .btn{
                    padding: 10px;
                }
            }
            .contacts_img{
                padding: 20px 10px !important;
            }
            .contacts_lang {
                padding: 20px 10px !important;
            }
            .contacts_text{
                display: none;
            }
        }
    }

    .header_decor{
        display: none;
    }
    .footer_form{
        .wrap{
            width: 100%;
            // width: 100% !important;
            display: block;
            button, input{
                display: block !important;
                margin-bottom: 5px !important;
            }
        }
    }


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbarToggler{
        display: none !important;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .list{
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}